.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
}

.Links {
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding-right: 30px;
}

.Links:hover {
    color: #821a7a;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

h5 {
    color: #63085b;
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
    padding-right: 20px;
}

.logo{
    text-decoration: none;
    color: #63085b;
}

.logo:hover{
    color: black;
}

.nav-right {
    display: flex;
    align-items: center;
}

.account {
    font-size: 35px !important;
    color: white;
}

@media (max-width: 992px) {
    .main-nav {
        padding-left: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-left, .nav-right {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .Links {
        padding-right: 0;
    }

    .account {
        font-size: 30px !important;
    }
}
