.purchase-details-container {
    padding: 40px;
    border: 1px solid #dcdada;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    font-size: 17px;
    text-align: left;
  }

  h2{
    margin-bottom: 30px;
  }
  
  .btn-order {
    padding: 10px 20px;
    background-color: green;
    border-radius: 50px;
    margin-top: 10px;
    color: white;
    border: none;
    cursor: pointer;
  }
  