.purchases {
  max-width: 1350px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.purchases h3 {
  text-align: center;
  margin-bottom: 20px;
}

.purchase-table {
  width: 100%;
  border-collapse: collapse;
}

.purchase-table th, .purchase-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.purchase-table th {
  background: #651567;
  color: white;
}


